<p style="color: green"><%= notice %></p>

<p><%= link_to "Back to Home", root_path %></p>

<% @product_page = 'show' %>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <%= render @product %>
</table>
<br>
<div>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>

  <%= button_to "Destroy this product", @product, method: :delete %>
</div>
